<div class="job-cards-container" #div>
    {{> job-card.html
    company = "Photosnap"
    logo = "../../images/photosnap.svg"
    new = true
    featured = true
    position = "Senior Frontend Developer"
    role = "Frontend"
    level = "Senior"
    postedAt = "1d ago"
    contract = "Full Time"
    location = "USA Only"
    languages = "HTML"
    languages2 = "CSS"
    languages3 = "JavaScript"
    tools = ""
    filters="Frontend Senior HTML CSS JavaScript"
    }}

    {{> job-card.html
    company = "Manage"
    logo = "../../images/manage.svg"
    new = true
    featured = true
    position = "Fullstack Developer"
    role = "Fullstack"
    level = "Midweight"
    postedAt = "1d ago"
    contract = "Part Time"
    location = "Remote"
    languages = "Python"
    tools = "React"
    filters="Fullstack Midweight Python React"
    }}

    {{> job-card.html
    company = "Account"
    logo = "../../images/account.svg"
    new = true
    featured = false
    position = "Junior Frontend Developer"
    role = "Frontend"
    level = "Junior"
    postedAt = "2d ago"
    contract = "USA Only"
    location = "Remote"
    languages = "JavaScript"
    tools = "React"
    tools2 = "Sass"
    filters="Frontend Junior JavaScript React Sass"
    }}

    {{> job-card.html
    company = "MyHome"
    logo = "../../images/myhome.svg"
    new = false
    featured = false
    position = "Junior Frontend Developer"
    role = "Frontend"
    level = "Junior"
    postedAt = "5d ago"
    contract = "Contract"
    location = "USA Only"
    languages = "CSS"
    languages2 = "JavaScript"
    filters="Frontend Junior CSS JavaScript"
    }}

    {{> job-card.html
    company = "Loop Studios"
    logo = "../../images/loop-studios.svg"
    new = false
    featured = false
    position = "Software Engineer"
    role = "FullStack"
    level = "Midweight"
    postedAt = "1w ago"
    contract = "Full Time"
    location = "Worldwide"
    languages = "JavaScript"
    tools = "Ruby"
    tools2 = "Sass"
    filters="FullStack Midweight JavaScript Ruby Sass"
    }}

    {{> job-card.html
    company = "FaceIt"
    logo = "../../images/faceit.svg"
    new = false
    featured = false
    position = "Junior Backend Developer"
    role = "Backend"
    level = "Junior"
    postedAt = "2w ago"
    contract = "Full Time"
    location = "UK Only"
    languages = "Ruby"
    tools = "RoR"
    filters="Backend Junior Ruby RoR"
    }}

    {{> job-card.html
    company = "Shortly"
    logo = "../../images/shortly.svg"
    new = false
    featured = false
    position = "Junior Developer"
    role = "Frontend"
    level = "Junior"
    postedAt = "2w ago"
    contract = "Full Time"
    location = "Worldwide"
    languages = "HTML"
    languages2 = "JavaScript"
    tools = "Sass"
    filters="Frontend Junior HTML JavaScript Sass"
    }}

    {{> job-card.html
    company = "Insure"
    logo = "../../images/insure.svg"
    new = false
    featured = false
    position = "Junior Frontend Developer"
    role = "Frontend"
    level = "Junior"
    postedAt = "2w ago"
    contract = "Full Time"
    location = "USA Only"
    languages = "JavaScript"
    tools = "Vue"
    tools2 = "Sass"
    filters="Frontend Junior Vue JavaScript Sass"
    }}

    {{> job-card.html
    company = "Eyecam Co."
    logo = "../../images/eyecam-co.svg"
    new = false
    featured = false
    position = "Full Stack Engineer"
    role = "Fullstack"
    level = "Midweight"
    postedAt = "3w ago"
    contract = "Full Time"
    location = "Worldwide"
    languages = "JavaScript"
    languages2 = "Python"
    tools = "Django"
    filters="Fullstack Midweight Python JavaScript Django"
    }}

    {{> job-card.html
    company = "The Air Filter Company"
    logo = "../../images/the-air-filter-company.svg"
    new = false
    featured = false
    position = "Front-end Dev"
    role = "Fullstack"
    level = "Junior"
    postedAt = "1mo ago"
    contract = "Part Time"
    location = "Worldwide"
    languages = "JavaScript"
    tools = "React"
    tools2 = "Sass"
    filters="Fullstack Junior React JavaScript Sass"
    }}

</div>