<div class="filter-modal__box">
    <div class="filters-content">
        <p class="filters-content__data">test</p>
    </div>
    <div class="filters-content__control">
        <img src="../../images/icon-remove.svg" alt="" class="filters-content__control-cancel">
    </div>
</div>