<div class="job-card">
    <img src="../../images/photosnap.svg" alt="Photosnap logo" class="job-card__logo">
    <div class="job-card__content">
        <div class="job-card__company">
            <p class="job-card__company-name">Photosnap</p>
            <p class="job-card_company-tag job-card_company-tag--new">New!</p>
            <p class="job-card_company-tag job-card_company-tag--featured">Featured</p>
        </div>
        <h3 class="job-card__title">Senior Frontend Developer</h3>
        <p class="job-card__info">1d ago · Full Time · USA only</p>
    </div>
    <div class="job-card__tags">
        <p class="job-card__tags-conent">Frontend</p>
        <p class="job-card__tags-conent">Senior</p>
        <p class="job-card__tags-conent">HTML</p>
        <p class="job-card__tags-conent">CSS</p>
        <p class="job-card__tags-conent">JavaScript</p>
    </div>
</div>