<div class="filter-modal hide">
    <div class="filter-wrapper">
        {{> filter-box.html}}
    </div>
    <div class="filter-modal__control">
        <p class="filter-modal__control-clear">Clear</p>
    </div>
</div>