<div class="filter-modal">
    <div class="filter-wrapper">
        <div class="filter-modal__box">
            <div class="filters-content">
                <p class="filters-content__data">test</p>
            </div>
            <div class="filters-content__control">
                <img src="../../images/icon-remove.svg" alt="" class="filters-content__control-cancel">
            </div>
        </div>
    </div>
    <div class="filter-modal__control">
        <p class="filter-modal__control-clear">Clear</p>
    </div>
</div>