$background-color: #f0fafb;
$white: #fff;
$card-shadow: rgba(93, 165, 164, 0.2);
$card-shadow-darker: rgba(93, 165, 164, 0.4);
$electric: #5aa6a2;
$grey: #8b9493;
$dark-green: #353a3a;
$tag-background-light: #eef6f8;
$tag-background-dark: #5ca8a6;
$header-background: #5da5a4;
$dark-grey: #2a3636;

$Raleway: "Raleway", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$Spartan: "Spartan", sans-serif;
