@charset "utf-8";
@import "./variables";
@import "./partials/job-card.scss";
@import "./partials/header";

body {
  background-color: $background-color;
  color: $electric;
  font-family: $Spartan;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
}

.test {
  width: 50px;
}
